/storage/database/status
/storage/static/rik*
/vendor
/.vscode
/.vs
/.phpls
/.env
/.env.php
/.version.pub.key
/.version.priv.key
/.version.dat
/.version.bkp
/.version.db
/.version.db
/node_modules
/public/assets/static
/tests/phpunit.result.cache
/tests/dump.log
/storage/database/*/status
/storage/intl/*.php
/storage/intl/missing.*.json
.DS_Store